$comment-header-color: #25a7c7

#article-content
    padding: 24px 24px 24px 24px
    #article-text
        padding: 20px 20px
        background-color: aliceblue
        border-radius: 8px
    h4
        color: $comment-header-color	