$header-color: #689dc5

#articles-main
    padding: 24px
    min-height: 500px
    .articles-wrapper
        .articles-container
            header
                font-size: 30px
                color: $header-color
