$footer-background: #8ccedf

#page-footer
    background-color: $footer-background
    font-size: 15px
    #copy-right
        p
            color: #eeeeee
    #other-link
        *
            color: #eeeeee
