extends layout

block content
    div#index-main
        section.hz-section
            div#index-info
                header.sec-header
                    div.hz-line
                    div.index-section-title
                        div Information
                div.info-content
                    ul.info-list
                       image.info-avatar
                       li name: William.D.King
                       li birthday: 1994-05-01
                       li hobby: Two dimension
                       li description: A simple otaku, with nothing outstanding...... What's more, single.....
                       li dream: Accomplishing all my duties, then having a peaceful, comfortable and happy life...... 

            div#today-feeling
                header.sec-header
                    div.hz-line
                    div.index-section-title
                        div Feeling
                div.feeling-content
                    p.time
                        |Today is 2015-9-12
                    div
                        p.feeling-saying Today is not good.....
                        img.clock


        section.article-section
            header.sec-header
                div.hz-line
                div.index-section-title
                    div Article
        section.lab-section
            header.sec-header
                div.hz-line
                div.index-section-title
                    div Labtory

