body header#banner nav#navigator {
  width: 50%;
  margin: 0 auto;
  font-size: 20px; }
  body header#banner nav#navigator span.navbar-brand {
    font-size: 20px; }
  body header#banner nav#navigator ul.nav.navbar-nav li {
    margin-left: 30px; }
body #main-content {
  height: 800px;
  width: 80%; }
