/* Created by William */
#articles-main {
  padding: 2%; }
  #articles-main header.articles-header {
    margin-left: 10%;
    margin-right: 10%; }
    #articles-main header.articles-header h1 {
      margin-top: 2%;
      display: inline-block; }
    #articles-main header.articles-header button {
      margin-top: 2%;
      float: right;
      margin: 20px 0; }
  #articles-main #article-list {
    margin-left: 10%;
    margin-right: 10%; }
    #articles-main #article-list .article {
      overflow: hidden;
      margin: 2% 10%; }
      #articles-main #article-list .article .created-time {
        float: right; }

header#drawing-header {
  margin: 0 auto;
  width: 60%; }
  header#drawing-header h1 {
    text-align: center; }

div#drawing-canvas {
  position: relative;
  text-align: center; }
  div#drawing-canvas #polygon-controller {
    top: 100px;
    position: relative; }
    div#drawing-canvas #polygon-controller input {
      margin-right: 10px; }
  div#drawing-canvas canvas#canvas {
    margin: 10%;
    background: white;
    border: thin inset #aaaaaa;
    width: 80%;
    height: 50%; }

.hz-line {
  width: 95%;
  margin: 0 auto;
  height: 1px;
  background-color: #38a7db;
  z-index: -1;
  margin-bottom: 10px; }

#index-main {
  height: 800px; }
  #index-main .sec-header {
    position: relative; }
  #index-main .index-section-title {
    width: 250px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: -32px;
    margin-left: -125px;
    background-color: white; }
    #index-main .index-section-title div {
      text-align: center;
      font-size: 35px; }
  #index-main .hz-section {
    height: 40%;
    padding: 2%;
    padding-top: 4%; }
    #index-main .hz-section #index-info {
      display: inline-block;
      width: 49%;
      height: 100%; }
      #index-main .hz-section #index-info .info-content {
        padding: 7%; }
        #index-main .hz-section #index-info .info-content .info-avatar {
          height: 100px;
          width: 100px;
          float: right; }
        #index-main .hz-section #index-info .info-content .info-list {
          width: 80%;
          margin: 0 auto; }
    #index-main .hz-section #today-feeling {
      display: inline-block;
      width: 49%;
      height: 100%;
      float: right; }
      #index-main .hz-section #today-feeling .feeling-content {
        margin-top: 4%; }
        #index-main .hz-section #today-feeling .feeling-content .time {
          text-align: center; }
        #index-main .hz-section #today-feeling .feeling-content div {
          margin-left: 20%;
          margin-right: 20%; }
          #index-main .hz-section #today-feeling .feeling-content div .feeling-saying {
            display: inline-block; }
          #index-main .hz-section #today-feeling .feeling-content div .clock {
            height: 100px;
            width: 100px;
            float: right; }
  #index-main .article-section {
    height: 30%; }

@-webkit-keyframes extent-in {
  from {
    width: 0px;
    height: 0px; }

  to {
    width: 500px;
    height: default; } }

@keyframes extent-in {
  from {
    width: 0px;
    height: 0px; }

  to {
    width: 500px;
    height: default; } }

@keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: auto; } }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }

  to {
    opacity: default; } }

.extent-in-animate {
  animation: extent-in 0.5s forwards;
  -webkit-animation: extent-in 0.5s forwards; }
  .extent-in-animate * {
    animation: fade-in 0.5s forwards;
    -webkit-animation: fade-in 0.5s forwards; }

@-webkit-keyframes extent-out {
  from {
    width: 500px;
    height: default; }

  to {
    width: 0px;
    height: 0px; } }

@keyframes extent-out {
  from {
    width: 500px;
    height: default; }

  to {
    width: 0px;
    height: 0px; } }

@keyframes fade-out {
  from {
    opacity: default; }

  to {
    opacity: 0; } }

@-webkit-keyframes fade-out {
  from {
    opacity: default; }

  to {
    opacity: 0; } }

.extent-out-animate {
  animation: extent-out 0.5s forwards;
  -webkit-animation: extent-out 0.5s forwards; }
  .extent-out-animate * {
    animation: fade-out 0.5s forwards;
    -webkit-animation: fade-out 0.5s forwards; }

@keyframes nav-fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 0.5; } }

@-webkit-keyframes nav-fade-in {
  from {
    opacity: 0; }

  to {
    opacity: 0.5; } }

.list-frame:hover {
  animation: nav-fade-in 0.5s forwards;
  -webkit-animation: nav-fade-in 0.5s forwards; }

body {
  background-color: aliceblue !important;
  background-size: cover;
  height: 100%; }
  body div#head {
    width: 100%;
    height: auto;
    background-color: mintcream;
    position: relative; }
    body div#head #clock {
      display: none;
      width: 300px;
      height: 300px; }
    body div#head #banner {
      display: block;
      height: 300px;
      width: auto;
      margin: 0 auto;
      background-image: url("../images/layouts/header.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain; }
    body div#head #clock-image {
      position: absolute;
      right: 10%;
      top: 0;
      height: 300px;
      width: 300px; }
    body div#head nav#navigator {
      height: 15%;
      padding-left: 20%;
      padding-right: 35%;
      margin: 0 auto;
      font-size: 20px;
      background-color: darkgrey; }
      body div#head nav#navigator .container-field {
        height: 100%; }
      body div#head nav#navigator .navbar-brand {
        background-color: #8f74f2;
        border-radius: 5px; }
      body div#head nav#navigator .container-header span.navbar-brand {
        font-size: 20px; }
      body div#head nav#navigator ul.nav.navbar-nav {
        float: right;
        position: relative; }
        body div#head nav#navigator ul.nav.navbar-nav li.locking {
          posiiton: absolute; }
          body div#head nav#navigator ul.nav.navbar-nav li.locking div.circle {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-color: blue; }
        body div#head nav#navigator ul.nav.navbar-nav .list-frame {
          opacity: 0;
          position: absolute;
          height: 100%;
          width: 78px;
          background-color: white; }
        body div#head nav#navigator ul.nav.navbar-nav li {
          position: relative;
          margin-left: 30px;
          z-index: 1; }
          body div#head nav#navigator ul.nav.navbar-nav li a {
            color: white;
            z-index: 2; }
          body div#head nav#navigator ul.nav.navbar-nav li a:hover {
            color: darkgrey; }
      body div#head nav#navigator .authorize {
        display: inline-block;
        float: right;
        position: relative;
        left: 40%;
        padding-top: 1%; }
        body div#head nav#navigator .authorize button {
          margin-left: 5px;
          width: 80px; }
      body div#head nav#navigator #authorize-message {
        z-index: 1000 !important;
        position: fixed;
        left: 56%;
        top: 50%;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        border-width: 1px;
        margin-left: -20%;
        margin-top: -12.5%;
        width: 50%;
        padding: 10px;
        z-index: 2;
        background-color: white;
        transition: 1s; }
        body div#head nav#navigator #authorize-message header {
          margin: 0 auto;
          width: 90%; }
          body div#head nav#navigator #authorize-message header h4 {
            display: inline-block;
            color: #3388ff; }
          body div#head nav#navigator #authorize-message header button {
            float: right; }
        body div#head nav#navigator #authorize-message #message-content {
          width: 60%;
          margin: 0 auto; }
          body div#head nav#navigator #authorize-message #message-content * {
            margin: 5px auto; }
          body div#head nav#navigator #authorize-message #message-content p {
            text-align: center; }
          body div#head nav#navigator #authorize-message #message-content button {
            margin-left: 42%; }
      body div#head nav#navigator .submit-buttons button {
        float: right;
        margin-right: 10px; }
      body div#head nav#navigator .input-group {
        margin-left: 10%;
        margin-bottom: 10px;
        width: 60%; }
      body div#head nav#navigator #login {
        position: fixed;
        left: 56%;
        top: 50%;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        border-width: 1px;
        margin-left: -20%;
        margin-top: -12.5%;
        width: 50%;
        padding: 10px;
        z-index: 2;
        background-color: white;
        transition: 1s; }
        body div#head nav#navigator #login #login-header {
          margin: 0 auto;
          width: 90%; }
          body div#head nav#navigator #login #login-header h4 {
            display: inline-block;
            color: #3388ff; }
          body div#head nav#navigator #login #login-header button {
            float: right; }
      body div#head nav#navigator #register {
        position: fixed;
        left: 56%;
        top: 50%;
        border-radius: 6px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
        border-width: 1px;
        margin-left: -20%;
        margin-top: -12.5%;
        width: 50%;
        padding: 10px;
        z-index: 2;
        background-color: white;
        transition: 1s; }
        body div#head nav#navigator #register #register-header {
          margin: 0 auto;
          width: 90%; }
          body div#head nav#navigator #register #register-header h4 {
            display: inline-block;
            color: #3388ff; }
          body div#head nav#navigator #register #register-header button {
            float: right; }
  body #main-content {
    background-color: white;
    margin: 0 auto;
    width: 70%; }
    body #main-content #index-main {
      border: 1px solid #e7e7e7; }
  body #footer {
    width: 100%;
    height: 100px;
    border-color: #e7e7e7;
    margin: 0 auto;
    overflow: hidden;
    background-color: #ccddd7; }
    body #footer #copy-right {
      display: inline-block;
      float: left;
      margin-left: 10%;
      margin-top: 2.5%;
      color: #0040ff; }
    body #footer #link {
      float: right;
      display: inline-block;
      margin-top: 2.5%; }
      body #footer #link ul {
        list-style: none; }
        body #footer #link ul li {
          float: left;
          width: 200px; }
          body #footer #link ul li a {
            color: #0040ff; }
