html
    head
        title demo of Three.js
    body
        div#demo-1
            header#3d-header
                h1 Three.js demo1
            #stats-output
            #3d-canvas
        #demo-2
            header
                h1 Three.js demo2
            #ascii-output
        #demo-3
            header
                h1 Three.js demo3
            #demo3-output 
    script(src="/lib/jquery.js")
    script(src="/lib/three.min.js")
    script(src="/lib/asciiEffect.js")
    script(src="/lib/stats.min.js")
    script(src="/lib/dat.gui.js")
    script(src="/lab/3dworld.js")