extends layout

block content
    div#edit-article-main
        header
            h1 发表新文章
            div.hz-line
        div#article-form
            input.title(type='text' name='title', placeholder='文章标题')
            header
                | 文章是否保密:
                input.secret(type='checkbox' name='secret')
                input.pswd(type='text' name='secret-password', placeholder="设置保密密码")
            div#article-editor
                script#article-content(type='text/plain' name='content')
                //script(type='text/javascript' src='/lib/utf8-php/ueditor.config.js')
                //script(type='text/javascript' src='/lib/utf8-php/ueditor.all.js')
                button#article-submit.btn.btn-primary 提交
