extends layout

block content
    div#main
        header
            h1 发表新文章
            div.hz-line
        div#article-form
            input(type='text' name='title', placeholder='文章标题')
            
            | 文章是否保密:
            input(type='checkbox' name='secret')
            input(type='text' name='secret-password', placeholder="设置保密密码")
            div#artice-editor
                script#article-content(type='text/plain' name='content')
                script(type='text/javascript' src='/lib/utf8-php/ueditor.config.js')
                script(type='text/javascript' src='/lib/utf8-php/ueditor.all.min.js')
            button#article-submit 提交
