doctype html
html(lang="zh-CN")
    head
        include ./include/head
    body
        header(id="header")
        div.mask

        div#wallpaper-slider

        div#main-wrapper
            block content

        footer(id="footer")

        include ./include/scripts

        block script
