doctype html
html(lang="zh-CN")
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css')
        script(src="../../lib/jquery.js")
        script(src="../../javascripts/all.js")
    body
        header(id= "head")
            div#banner
            nav(id= "navigator").navbar.navbar-default
                div.container-fluid
                    div.container-header
                        span.navbar-brand
                            |Navigator
                    div.collapse.navbar-collapse
                        ul.nav.navbar-nav
                            li  
                                a(href= "/") index
                            li 
                                a(href= "/article") article
                            li 
                                a(href= "/photo") photo
                            li  
                                a(href= "/lab") labtory
        div#main-content
            block content
        footer(id= "footer")
            div
            div#copy-right
                p Copyright &copy 2015 William.D.King.
            div#link
                ul
                    li
                        a(href= "/") Home
                    li
                        a(href= "http://weibo.com/p/1005051899517750/home?from=page_100505&mod=TAB#place") My MicroBlog
                    li
                        a(href= "mailto:williamjwking@gmail.com") My email
        
