header#drawing-header {
  margin: 0 auto;
  width: 60%; }
  header#drawing-header h1 {
    text-align: center; }

div#drawing-canvas canvas#canvas {
  margin: 10%;
  padding: 2%;
  background: white;
  border: thin inset #aaaaaa;
  width: 80%;
  height: 80%; }
