.hz-line {
  width: 90%;
  margin: 0 auto;
  height: 1px;
  background-color: #38a7db;
  z-index: -1; }

#index-main {
  height: 800px; }
  #index-main .sec-header {
    position: relative; }
  #index-main .index-section-title {
    width: 250px;
    height: 40px;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    top: -32px;
    margin-left: -125px;
    background-color: white;
    z-index: 1; }
    #index-main .index-section-title div {
      text-align: center;
      font-size: 35px; }
  #index-main .hz-section {
    height: 40%;
    padding: 2%;
    padding-top: 4%; }
    #index-main .hz-section #index-info {
      display: inline-block;
      width: 49%;
      height: 100%; }
      #index-main .hz-section #index-info .info-content {
        padding: 7%; }
        #index-main .hz-section #index-info .info-content .info-avatar {
          height: 100px;
          width: 100px;
          float: right; }
        #index-main .hz-section #index-info .info-content .info-list {
          width: 80%;
          margin: 0 auto; }
    #index-main .hz-section #today-feeling {
      display: inline-block;
      width: 49%;
      height: 100%;
      float: right; }
      #index-main .hz-section #today-feeling .feeling-content {
        margin-top: 4%; }
        #index-main .hz-section #today-feeling .feeling-content .time {
          text-align: center; }
        #index-main .hz-section #today-feeling .feeling-content div {
          margin-left: 20%;
          margin-right: 20%; }
          #index-main .hz-section #today-feeling .feeling-content div .feeling-saying {
            display: inline-block; }
          #index-main .hz-section #today-feeling .feeling-content div .clock {
            height: 100px;
            width: 100px;
            float: right; }
  #index-main .article-section {
    height: 30%; }
