#articles-main
    padding: 2%
    header.articles-header
        margin-left: 10%
        margin-right: 10%
        h1
            margin-top: 2%
            display: inline-block
        button
            margin-top: 2%
            float: right
            margin: 20px 0

    #article-list
        margin-left: 10%
        margin-right: 10%
        .article
            overflow: hidden
            margin: 2% 10%
            position: relative
            h2
                display: inline-block
            .time
                float: right
                position: absolute
                right: 1%
                bottom: 0
                color: #999 
                p
                    display: inline
                    margin-left: 5px
