$header-color: #326d66
$time-color: #2f2650

#articles-main
    padding: 24px
    min-height: 500px
    .articles-wrapper
        .articles-container
            h1
                font-size: 30px
                color: $header-color
                a
                    float: right
            .section
                display: flex
                min-height: 350px
                .articles-list
                    flex: 8
                    border-right: 2px solid #eeeeee
                    .article-item
                        .content
                            width: 100%
                            .description
                                display: inline-block
                            .time
                                display: inline-block
                                float: right
                                margin-right: 24px
                                color: #35302f
                                span
                                   color: $time-color
                .tag
                    flex: 2
        .pagination-container
            text-align: center
            padding-top: 20px
            padding-bottom: 10px
