title='William\'s website'
link(rel='stylesheet' href='/lib/semantic/semantic.min.css')
link(rel='shortcut icon' href='/images/icon.jpg')
script(type='text/x-mathjax-config').
    MathJax.Hub.Config({
        showProcessingMessages: false,
        tex2jax: { inlineMath: [['$','$'],['\\\(','\\)']] },
        TeX: { equationNumbers: {autoNumber: "AMS"} }
    });
//- script(type='text/javascript' src='/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML')