script(src="/lib/jquery.js")
script(src="/lib/react.js")
//- script(src="/lib/clock.js")
script(src="/lib/semantic/semantic.min.js")
script(src="/dist/layout.bundle.js")
script(src="/dist/wallpaper.bundle.js")
